.playerInfo{
    position: fixed;
    bottom: 0; /*Sets to bottom of page*/
    width: 100%;
}

.marketplace, .adventures, .fight, .endFight, .levelUp, .statButtons, .character{
    display: none;
}

.upgrades, .items button{
    display: grid;
    grid-template-columns: repeat(1, 96px);
    margin-bottom: 10px;
}

button{
    background-color: white;
    font-size: 18px;
}